%html
  %head
    %title Github Badges - #{title}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/application.css"}
    %script{:type => "text/javascript", :src => "http://yui.yahooapis.com/3.1.0/build/yui/yui-min.js"}
    %script{:type => "text/javascript", :src => "/javascript/yql.js"}
    :javascript
      YUI().use('yql', function(Y) {
        new Y.yql('select * from github.user.search where (login = "guthrie")', function(r) {
          console.log(r);
          // r.query; //The result
          // r.error; //The error message
        }, { env: "http://blazing-water-96.heroku.com/yql/github.env?v=1" });
      });

  %body
    #content
      #header
        %h1.user_name Github Badges &sdot; #{title}
      #main
        #{yield}
        .clear
      #footer
        %p
          Built by <a href="http://twitter.com/bguthrie">Brian Guthrie</a>, 
          <a href="http://twitter.com/tdinkar">Tejas Dinkar</a> and 
          <a href="http://twitter.com/markhneedham">Mark Needham</a> for 
          <a href="http://www.hackday.org/">Yahoo! Open Hack Day India 2010</a>. None of the 
          people who built this site are affiliated with Github, just fans.
