%html
  %head
    %title Github Badges - #{title}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/application.css"}
    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js?v=1"}
    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js?v=1"}
    %script{:type => "text/javascript", :src => "/javascript/jquery.query-yql.min.js"}
    %script{:type => "text/javascript", :src => "/javascript/username-autocomplete.js"}

  %body
    #content
      #header
        %h1.user_name Github Badges &sdot; #{title}
      #main
        #{yield}
        .clear
      #footer
        %p
          Built by <a href="http://twitter.com/bguthrie">Brian Guthrie</a>, 
          <a href="http://twitter.com/tdinkar">Tejas Dinkar</a> and 
          <a href="http://twitter.com/markhneedham">Mark Needham</a> for 
          <a href="http://www.hackday.org/">Yahoo! Open Hack Day India 2010</a>. None of the 
          people who built this site are affiliated with Github (we work for 
          <a href="http://www.thoughtworks.com">ThoughtWorks</a>, just fans.
          If your browser doesn't support HTML5 and CSS3, please go away, and come back when 
          you find one that does.
