.search
  %form.search_form{:method => :get, :action => "/badges"}
    %fieldset
      %label{:for => "username"} username
      %div#username_container
        %input{:type => "text", :name => "username", :id => "username", :placeholder => "Github username"}
        %div#spinner
      %input{:type => "Submit", :value => "Search"}
