.search
  %p Search for a Github username to see their badges.
  %form.search{:method => :get, :action => "/badges"}
    %fieldset
      %label{:for => "username"} username
      %input{:type => "text", :name => "username", :id => "username"}
      %input{:type => "Submit", :value => "Search"}
