/* css  */

html, body {
    background: #999;
    color: #111111;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 98%;
    line-height: normal;
    margin: 0;
}

.container {
		width: 912px;
    background: #FFFFFF none repeat scroll 0 0;
    border: 2px solid #DDDDDD;
    width: 921px;
    min-height: 100%;
    height: auto !important;
    margin: 1em auto -2.5em auto;
    overflow: hidden;
}

.container .header {
		overflow: hidden;
}
.header .logo {
		float: right;
		margin: 1em;
}

.header h1 {
		float: left;
		margin: 1em;
}

.body {
		float: left;
		margin: 2em auto 1em;
		width: 100%;
}

.map {
    height: 600px;  
    width: 800px;
		margin: auto;
}
