<% content_for :head do %>
<%= javascript_include_tag :defaults, 'jquery.corner.js' %>
<style type="text/css">
    body,html,div {padding: 0px;margin:0px;font-family: sans-serif;}
    div.info {float: left; margin-left: 2%; margin-right: 90px; width: 320px; font-family: sans-serif;}

    span.info {font-size: 12px; margin: 4px; }

    div.has_link { font-family: sans-serif; font-size: 14px; background-color: #102030; padding: 8px; color: bisque; width: 100px; height: 14px;}
    a.has_link {text-decoration: none; color: white;}
    a.has_link:visited { color: white; }
    a.has_link:hover {color: #70ef70}

    #social_bar { margin-top: 20px; margin-left: 4px;}
    a.delicious { font-family: sans-serif; font-size: 12px; float: left; text-decoration: none; margin-left: 4px;}

    h4 { font-family: sans-serif; }

    div.bottom { position: fixed; left: 0px; bottom: 0px; width: 100%; background-color: #e6e6f0; color: black; padding: 18px;}
    h2.p { font-size: 16px; font-weight: bold; margin-bottom: 0px; padding-bottom: 0px; color: black;}
    .p2 { margin-top: 0px; color: #4c4c83; padding-top: 0px; }
    .p3 { }
    div.block { float: left; width: 250px; margin-left: 20px; margin-right: 20px; font-size: 14px;}

    
    h1.custom { color: #000000; text-shadow: 2px 2px 2px #ababab; font-family: 'Arial, Helvetica, Verdana, sans-serif;'; font-size: 50px; font-weight: bold; margin: 0px; padding: 0px; padding-top: 8px;}
    h2.custom { font-family: sans-serif; font-size: 16px; margin: 0px; padding: 0px; margin-top: 4px; color: #444455;}
    div.heading_div { background-color: #dfedf8; padding: 30px; padding-bottom: 10px; color: black; margin-bottom: 20px; width: 400px; margin: 0 auto;}
    .query_class { font-family: sans-serif; border: 1px solid #dfdfdf; height: 40px; width: 95%; padding: 6px; font-size: 16px;}
    .info_class { font-family: sans-serif;  border: 1px solid #dfdfdf; height: 40px; width: 95%; padding: 6px; text-align: center; color: #7f7f9f; font-size: 3em;}
		.info_class:focus { background: #ffffaa;}
</style>

<% end %>
<div class="heading_div">
		<form action="<%= root_path %>" method="get">
				<div id='query_box'>
						<input type="text" size="30" name="query" tabindex="0" id="query" class="info_class"/>
				</div>
				<div style="margin-top: 15px;">
						<input type="submit" id="search" value="Search" />
				</div>
		</form>
</div>

<% javascript_tag do %>
	$(document).ready(function(){
	  $("div.heading_div").corner(); $("div.gradient").corner();
  });
<% end %>
