body {
  font-family: Verdana, Arial, sans-serif;
  font-size: small;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style-type: none;
}

form {

  fieldset {
    border: none;
    margin: 4px;
    padding: 20px 0px 20px 40px;
  }

  label {
    font-size: 28px;
    display: none;
  }

  #username_container {
    position: relative;
    -webkit-box-shadow: 0 1px 3px #555;
    border: 2px solid #ddd;
    display: inline-block;

    #spinner {
      background: transparent url("/images/spinner.gif") top left no-repeat;
      position: absolute;
      height: 16px;
      width: 16px;
      right: 10px;
      top: 11px;
      display: none;
    }

    input[type=text] {
      border: none;
      width: 580px;
      font-size: 26px;
      padding: 4px;
    }
  }

  button, input[type=submit] {
    background-color: #777;
    -webkit-box-shadow: 0 1px 3px #555;
    color: #fff;
    font-size: 20px;
    padding: 8px;
    border: 2px solid #ddd;
    display: inline-block;
    padding: 10px 14px 6px 14px;
    cursor: pointer;

    :hover { background-color: #666; }
  }
}

.clear {
  clear: both;
}

#content {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#header, #footer {
  padding: 8px;
  background-color: #444;
  color: white;
  border-radius: 8px;

  a, a:visited { color: white; }
  a:hover { color: #bbb; }
}

#header {
  margin-top: -8px;

  h1 { margin-top: 10px; font-size: 28px; }
}

#footer {
  margin-top: 12px;
}

#main {
  margin-top: 12px;
  padding: 8px;
  background-color: #C3D6F7;
  border-radius: 8px;

  .user {
    .intro {
      padding: 8px;
      border-bottom: 1px dotted white;
    }
  }
}

.categories {
  .category {
    padding-top: 24px;
    clear: both;

    h2.name {
      padding-left: 20px;
      text-transform: uppercase;
      font-size: 16px;
    }
  }
}

.badges {
  .badge.complete {
    background-color: #666;
    color: white;
    border: 4px solid white;
  }

  .badge.incomplete {
    background-color: #ccc;
    color: #444;
    opacity: 0.5;
    border: 4px solid #C3D6F7;
  }

  .badge {
    border-radius: 32px;
    float: left;
    width: 360px;
    height: 50px;
    margin: 8px;
    padding: 4px;
    background: url('/images/octocat.png') 4 left no-repeat;

    .name {
      font-size: 18px;
      margin-left: 56px;
      line-height: 1.4;
    }

    .description {
      font-size: 10px;
      margin-left: 56px;
    }
  }
}

#footer {
  clear: both;
  margin-bottom: 8px;
}

.ui-autocomplete {
  width: 580px;
  background-color: white;
  border: 1px solid #F5B878;

  .ui-menu-item {
    font-size: 16px;
    padding: 4px;
    color: #555;

    :hover {
      background-color: #eee;
      cursor: pointer;
    }
  }
}
