#content
  .user
    %h2.name Welcome to the badges page for #{user.name}
    - if badges.empty?
      %p.sadpanda The user you've requested does not have any badges.
    - else
      %ul.badges
        - badges.each do |badge|
          %li.badge= badge.name
