#content
  .user
    %h2.name Welcome to the badges page for #{user.name}
    - if user.badges.empty?
      %p.sadpanda The user you've requested does not have any badges.
    - else
      %ul.badges 
        %li.badge 1 repository badge